<h1>問い合わせ一覧</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>email</th>
      <th>お問い合わせ内容</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inquiries.each do |inquiry| %>
      <tr>
        <td><%= inquiry.name %></td>
        <td><%= inquiry.email %></td>
        <td><%= inquiry.inquiry %></td>
        <td><%= link_to '表示', inquiry %></td>
        <td><%= link_to '編集', edit_inquiry_path(inquiry) %></td>
        <td><%= link_to '削除', inquiry, method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規お問い合わせ', new_inquiry_path %>
