<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @inquiry.name %>
</p>

<p>
  <strong>email:</strong>
  <%= @inquiry.email %>
</p>

<p>
  <strong>お問い合わせ内容:</strong>
  <%= @inquiry.inquiry %>
</p>

<%= link_to '編集', edit_inquiry_path(@inquiry) %> |
<%= link_to '戻る', inquiries_path %>
